@layout("Welcome To LocationTracker"){
    <div class="panel">
    <h1> Welcom To LocationTracker</h1>
    <div style="margin: 70px">
        <p class="text-warning" align="justify">Which is one of the leading web application, to track assets in perticular university.
    The App is with many amazing tasks, like inputting some requests, you can edit it with authorized access, and delete as well or even cancel the request.
    Moreover, the security concerns alot, thus, we have taken measures to over come that as well; in that the main step is, allowing only the
    autharized officers to create another account for employee. So go on and EXPLOR </p>
    </div>
    </div>

    <p align="right">
        <a  class="btn btn-primary"  href="@routes.LoginController.userLogin()"> EXPLORE </a>
    </p></div>
}