@(requestForm: Form[furniture])

@import helper._;

@layout("Furniture Tasks"){

    <h1> Furniture Relocation </h1>
    <a class="text-warning" href="#"> NOTE: REFER NECESSARY DOCUMENTS </a>
    @helper.form(action = routes.FurnitureController.saveRequest()){
        <div class="col-lg-6 col-lg-offset-3">
            @helper.inputText(requestForm("id"), 'class -> "form-control")

            @helper.select(
                requestForm("FurnitureName"),
                helper.options(Seq("Mel Desk","pin Desk","Mel Bookcase","Pin Bookcase", "Pin Filing Cabinet",
                    "Metal Filing Cabinets", "Gas-lift Chair", "Fixed-frame Chair")),
                '_label -> "Furniture Name", '_default -> "---- Select Furniture ----"
                , 'class -> "form-control")


            @helper.select(
                requestForm("FurnitureBarcode"),
                helper.options(Seq("4605664000050", "8076809513456", "9780444505156","3155250001387", "3014260115531",
                    "3006634623969", "8020187300016", "1234567891011")),
                '_label -> "Furniture barcode", '_default -> "---- Select Barcode ----"
                , 'class -> "form-control")


            @helper.inputDate(requestForm("furnitureAcquisitionDate"), 'class -> "form-control")


            @helper.inputText(requestForm("FurnitureCost"), 'class -> "form-control")



            @helper.inputText(requestForm("OccupyingDept"), 'class -> "form-control")


            @helper.inputText(requestForm("Occupant"), 'class -> "form-control")


            @helper.inputText(requestForm("BuildingNo"), 'class -> "form-control")


            @helper.inputText(requestForm("FloorNo"), 'class -> "form-control")

            @helper.inputText(requestForm("Room"), 'class -> "form-control")

            @helper.select(
                requestForm("SpaceType"),
                helper.options(Seq("Office", "General teaching room", "Scientific Lab","Computer Lab", "Engineering Lab",
                    "Medical Lab", "Ancillary area", "Library", "General facility area", "Student Residential Accommodation",
                    "Non usable floor area")),
                '_label -> "SpaceType", '_default -> "-------- Select SpaceType --------"
                , 'class -> "form-control")

            @helper.inputText(requestForm("SpaceCode"), 'class -> "form-control")



            @helper.select(
                requestForm("Task"),
                helper.options(Seq( "Requesting To Move", "Re-scheduled", "Repair", "Sold")),
                '_label -> "Task", '_default -> "-------- Select TASK --------"
                , 'class -> "form-control")

            @helper.select(
                requestForm("Status"),
                helper.options(Seq("Completed", "On Progress", "Updated", "Cancelled", "Sold")),
                '_label -> "Status", '_default -> "-------- Select STATUS --------"
                , 'class -> "form-control")

            @helper.inputDate(requestForm("DateToCarryOutTheTask"), 'class -> "form-control")

            @helper.inputDate(requestForm("CompletedDate"), 'class -> "form-control")

            @helper.inputText(requestForm("DestinationDept"), 'class -> "form-control")

            @helper.inputText(requestForm("DestinationDeptOccupant"), 'class -> "form-control")

            @helper.inputText(requestForm("DestinationBuildingNo"), 'class -> "form-control")

            @helper.inputText(requestForm("DestinationFloorNo"), 'class -> "form-control")

            @helper.inputText(requestForm("DestinationRoom"), 'class -> "form-control")

            @helper.select(
                requestForm("DestinationSpaceType"),
                helper.options(Seq("Office", "General teaching room", "Scientific Lab","Computer Lab", "Engineering Lab",
                    "Medical Lab", "Ancillary area", "Library", "General facility area", "Student Residential Accommodation",
                    "Non usable floor area")),
                '_label -> "DestinationSpaceType", '_default -> "-------- Select SpaceType --------"
                , 'class -> "form-control")

            @helper.inputText(requestForm("DestinationSpaceCode"), 'class -> "form-control")


        <p align="right">
            <button type="submit" class="btn btn-primary"> PROCEED REQUEST</button>
        </p></div>

    }

}

